main {
  padding: 10px;
}

/* Header Style */
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #222;
  text-shadow: 3px 3px 4px rgb(255, 255, 255);
  text-align: center;
  padding: 50px 0 30px 0;
  font-weight: bold;
}
.wrapper {
  background: linear-gradient(aqua, white);
}
.wrapper > a {
  text-decoration: none;
}
.miniKet {
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

/* Main Style */
h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 3px 3px 4px aquamarine;
  padding: 30px;
  font-style: italic;
  text-decoration-line: underline;
}
h4 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 3px 3px 4px aquamarine;
  padding: 0 0 40px 0;
  font-style: italic;
  text-decoration-line: underline;
}
h6 {
  margin-top: 20px;
}
.ops {
  color: crimson;
}
.infoKet {
  text-decoration: overline;
  font-style: italic;
}

@media screen and (max-width: 680px) {
  textarea {
    font-size: 11px;
  }
  header {
    font-size: 14px;
  }
  p {
    font-size: 13px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    padding: 10px;
  }
  h4 {
    font-size: 18px;
  }
}
